
- var resolveImageSrc = function(src){
- 	return (src.toLowerCase().indexOf('http') > -1) ? src : 'img/'+src;
- }

- var markup = function(text){
-   if(!text) return '';
- 	text = text.replace(/\[saut\]/g, '<br>');
- 	text = text.replace(/\[gras ?\| ?([^\]]*)\]/g, '<strong>$1</strong>');
- 	text = text.replace(/\[italique ?\| ?([^\]]*)\]/g, '<em>$1</em>');
- 	text = text.replace(/\[petit ?\| ?([^\]]*)\]/g, '<small>$1</small>');
- 	text = text.replace(/\[lien ?\| ?([^\|]*) ?\| ?([^\]]*)\]/g, '<a href="$2">$1</a>');
- 	text = text.replace(/\[ancre ?\| ?([^\|]*) ?\| ?([^\]]*)\]/g, '<a href="#$2">$1</a>');
- 	text = text.replace(/ (\?|!|:)/g, '&nbsp;$1');
- 	return text
- }

mixin img(src,alt,lien)
	if lien
		a.image(href=lien)
			img(src=resolveImageSrc(src), alt=alt, title=alt)
	else
		span.image
			img(src=resolveImageSrc(src), alt=alt, title=alt)

	

mixin render(bloc)
	+#{'render_'+bloc.type}(bloc)

mixin render_titre(bloc)
	.bloc(class='bloc_'+bloc.type, debug='bloc_'+bloc.type)
		div.item(debug='item_titre')
			h3!= markup(bloc.titre)
			if bloc.soustitre
				h4!= markup(bloc.soustitre)

mixin render_image(bloc)
	.bloc(class='bloc_'+bloc.type, debug='bloc_'+bloc.type)
		figure.item(debug='item_image')
			+img(bloc.imageUrl, bloc.imageAlt, bloc.imageLien)
			if bloc.imageLegende
				figcaption!= markup(bloc.imageLegende)

mixin render_textes(bloc)
	.bloc(class='bloc_'+bloc.type, debug='bloc_'+bloc.type)
		for i in bloc.items
			if i.lien
				if i.liste
					a.item.liste(href=i.lien, class=i.imagePosition||'dessus', debug='item_liste', flex=(i.size || 1), class=i.style || false): +render_blocItem_liste(i)
				else
					a.item.texte(href=i.lien, class=i.imagePosition||'dessus', debug='item_texte', flex=(i.size || 1), class=i.style || false): +render_blocItem_texte(i)
			else
				if i.liste
					.item.liste(class=i.imagePosition||'dessus', debug='item_liste', flex=(i.size || 1), class=i.style || false): +render_blocItem_liste(i)
				else
					.item.texte(class=i.imagePosition||'dessus', debug='item_texte', flex=(i.size || 1), class=i.style || false): +render_blocItem_texte(i)
			


mixin render_blocItem_liste(i)
	- if(i.imageUrl && i.imagePosition != "dessous")
		+img(i.imageUrl, i.imageAlt, i.imageLien)
	if i.titre
		strong.item_titre= i.titre
	ul
		for li in i.liste
			li!= markup(li)
	- if(i.imageUrl && i.imagePosition == "dessous")
		+img(i.imageUrl, i.imageAlt, i.imageLien)
		
mixin render_blocItem_texte(i)
	- if(i.imageUrl && i.imagePosition != "dessous")
		+img(i.imageUrl, i.imageAlt, i.imageLien)
	if i.titre
		strong.item_titre= i.titre
	if i.texte
		p!= markup(i.texte)
	- if(i.imageUrl && i.imagePosition == "dessous")
		+img(i.imageUrl, i.imageAlt, i.imageLien)


mixin render_box3D(bloc)
	.bloc(class='bloc_'+bloc.type, debug='bloc_'+bloc.type)
		ul.boxes
			for b in bloc.boxes
				li.w_box
					a.box(class='box_'+b.themeBox, href='#'+b.lien)
						.box_img
							+img(b.imageUrl, b.imageAlt)
						.box_info
							p!= markup(b.texte)





doctype html
html(lang="fr")
	include jade/head

body
	paper-toast#toast(text="Your message has been sent. Thank you for contacting us!")
	.popups(visible="false")
		for p in popups
			.popup(id=p.id)
				.popup_title
					h5!= markup(p.titre)
					a.popup_close &times;
				.popup_inner
					.popup_texte
						p!= markup(p.texte)

	if preprod
		div.fonts(style='color:#fff;position: absolute;z-index: 10;padding: 10px;top: 10px;right: 20px;background-color: rgba(0,0,0,0.3);font-size: 12px;width:300px')
			.titre(style='background:#000;clear:both;padding:2px') Accroche
			div
				label letter-spacing
				input.range_titre_ls(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.letterSpacing=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			div
				label line-height
				input.range_titre_lh(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.lineHeight=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			div
				label font-size
				input.range_titre_fz(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontSize=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontFamily="\'Lato\'"});',             style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Lato
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontFamily="\'Josefin Sans\'"});',     style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Josefin
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontFamily="\'Droid Serif\'"});',      style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Droid
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontFamily="\'Montserrat\'"});',       style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Montserrat
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontFamily="\'Alegreya Sans SC\'"});', style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Alegreyasc
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".section-header h2"),function (node){node.style.fontFamily="\'Quicksand\'"});',        style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Quicksand

			.titre(style='background:#000;clear:both;padding:2px') titres
			div
				label letter-spacing
				input.range_titre_ls(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.letterSpacing=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			div
				label line-height
				input.range_titre_lh(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.lineHeight=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			div
				label font-size
				input.range_titre_fz(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontSize=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontFamily="\'Lato\'"});',             style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Lato
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontFamily="\'Josefin Sans\'"});',     style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Josefin
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontFamily="\'Droid Serif\'"});',      style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Droid
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontFamily="\'Montserrat\'"});',       style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Montserrat
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontFamily="\'Alegreya Sans SC\'"});', style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Alegreyasc
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".bloc_titre"),function (node){node.style.fontFamily="\'Quicksand\'"});',        style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Quicksand

			.titre(style='background:#000;clear:both;padding:2px') textes
			div
				label letter-spacing
				input.range_titre_ls(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.letterSpacing=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			div
				label line-height
				input.range_titre_lh(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.lineHeight=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			div
				label font-size
				input.range_titre_fz(type='range', oninput='t=this;Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontSize=t.value+\'px\';t.parentNode.querySelector("span").innerHTML=t.value+\'px\';});')
				span.value
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontFamily="\'Lato\'"});',             style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Lato
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontFamily="\'Josefin Sans\'"});',     style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Josefin
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontFamily="\'Droid Serif\'"});',      style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Droid
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontFamily="\'Montserrat\'"});',       style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Montserrat
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontFamily="\'Alegreya Sans SC\'"});', style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Alegreyasc
			a(onclick='Array.prototype.forEach.call(document.querySelectorAll(".page"),function (node){node.style.fontFamily="\'Quicksand\'"});',        style='background:rgba(0,0,0,.5);margin:2px;cursor:pointer;color:#fff;float:left;display:block;padding:2px') Quicksand
		

	div.page

		header.section.section-header
			a(name='header')
			.layer_bg(style='background-image: url(img/'+header.image+')')
			.layer_fg
				include jade/header
				//- include jade/nav
			
		
		for section in sections
			section.section(class='theme_'+section.theme, style=(section.image)?'background-image: url(img/'+section.image+')':false)
				a(name=section.id)
				.section_maxwidth
					for bloc in section.blocs
						+render(bloc)

		section.section.section-contact
			a(name='contact')
			.section_maxwidth
				.bloc
					.item
						.contact-panel.contact-form
							.titre Vous pouvez me contacter en remplissant les champs suivants :
							contact-form
						.contact-panel.social-bar
							.titre Vous pouvez également me retrouver sur les réseaux sociaux :
							a(href="https://fr.linkedin.com/in/agneslachenal")
								img(src="img/linkedin.svg")
							a(href="http://www.viadeo.com/profile/00219tdkrrgclzwx")
								img(src="img/viadeo.svg")
					.item
						for bloc in contact.blocs
							+render(bloc)

		footer.section.section-footer
			a(name='footer')
			.section_maxwidth
				for bloc in footer.blocs
					+render(bloc)
		
		//- Popup interactions
		script.
			document.querySelector('.popup_close').addEventListener('click', function(){
				console.log('[PopupClose click => visible=false]');
				this.parentNode.parentNode.parentNode.setAttribute('visible', 'false');
			});
			document.querySelector('[href*="#popup"]').addEventListener('click', function(){
				var popup = this.getAttribute('href');
				console.log('[PopupLink click => visible=true]', popup);
				document.querySelector(popup).parentNode.setAttribute('visible', 'true');
			});
		
		//- Google analytics
		if prod
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-63814857-1', 'auto');
				ga('send', 'pageview');
		
		//- Debug mode
		if preprod
			script.
				if(~window.location.href.indexOf('debug')) document.body.className = 'debug';
		
		//- Non blocking CSS
		//- script.
			var cb = function() {
				var l = document.createElement('link'); l.rel = 'stylesheet';
				l.href = 'https://fonts.googleapis.com/css?family=Quicksand:400,700|Josefin+Sans:300';
				var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
			};
			var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
			if (raf) raf(cb);
			else window.addEventListener('load', cb);

		//- Web Components		
		script(src="bower_components/webcomponentsjs/webcomponents.js")
		link(rel="import", href="contactform.html")
		link(rel="import", href="bower_components/paper-toast/paper-toast.html")
